<!--在当前模板所在view目录开始找-->
<layout name="Index/header_footer"/>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
      <form action="__SELF__?p={$pageIndex}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$goods.id}"/>
        商品名称：<input type="text" name="goods_name" value="{$goods.goods_name}"/><br /><br />
        商品价格：<input type="text" name="price" value="{$goods.price}"/><br /><br />
        商品描述：<br /><br />
        <input type="textarea" id="goods_desc" name="goods_desc" style="width:100%;height:300px;" value='{$goods.goods_desc}'><br/>
        原商品logo：<br/><br/><?php showImg($goods['sm_logo']); ?><br/><br />
        新商品logo：<input type="file" name="goods_logo" /><br /><br />
        是否上架：
        <input type="radio" name="is_on_sale" value="1" <if condition="$goods.is_on_sale eq 1"> checked</if>/>上架 
        <input type="radio" name="is_on_sale" value="0" <if condition="$goods.is_on_sale neq 1"> checked</if>/>下架
        <br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="提交" />
      </form>
    </div>
</div>


<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh-CN.js"></script>
<script type="text/javascript">
        KindEditor.ready(function(K) {
                window.editor = K.create('#goods_desc');
        });
</script>