<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理中心 - 编辑商品 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__AdminCss__/general.css" rel="stylesheet" type="text/css" />
<link href="__AdminCss__/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('Goods/listGoods')}">商品列表</a>
    </span>
    <span class="action-span1"><a href="{:U('Index/index')}">管理中心</a></span>
    <span id="search_id" class="action-span1"> - 编辑商品 </span>
    <div style="clear:both"></div>
</h1>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
      <form action="__SELF__?p={$pageIndex}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$goods.id}"/>
        商品名称：<input type="text" name="goods_name" value="{$goods.goods_name}"/><br /><br />
        商品价格：<input type="text" name="price" value="{$goods.price}"/><br /><br />
        商品描述：<br /><br />
        <input type="textarea" id="goods_desc" name="goods_desc" style="width:100%;height:300px;" value='{$goods.goods_desc}'><br/>
        原商品logo：<br/><br/><img src="{$rootpath}{$goods.sm_logo}"/><br/><br />
        新商品logo：<input type="file" name="goods_logo" /><br /><br />
        是否上架：
        <input type="radio" name="is_on_sale" value="1" <if condition="$goods.is_on_sale eq 1"> checked</if>/>上架 
        <input type="radio" name="is_on_sale" value="0" <if condition="$goods.is_on_sale neq 1"> checked</if>/>下架
        <br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="提交" />
      </form>
    </div>
</div>

<div id="footer">
共执行 9 个查询，用时 0.025161 秒，Gzip 已禁用，内存占用 3.258 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
</html>
<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh-CN.js"></script>
<script type="text/javascript">
        KindEditor.ready(function(K) {
                window.editor = K.create('#goods_desc');
        });
</script>