<layout name="Index/header_footer" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">角色名称：</td>
                <td>
                    <input  type="text" name="role_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">权限列表：</td>
                <td>
                   <foreach name="priRes" item="v">
                    
                      {$v.flag}<input level="{$v.level}" type="checkbox" name="pri_id[]" value="{$v.id}"/>{$v.pri_name}<br/>
                   </foreach>                      
                </td> 
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " style="cursor:pointer;"/>
                </td>
            </tr>
        </table>

    </form>
</div>
<!--引入选中复选框的特效 js 文件-->
<script type="text/javascript" src="__AdminJs__/chooseCheckbox.js"></script>
<script type="text/javascript">
    $(':submit').click(function(){
        var seconds = 3;
        $(this).val(seconds+'秒后跳转...');
        $(this).attr('disabled','disabled');//禁点按钮
        var btn = $(this);
        var timer = setInterval(function(){
           if(--seconds==0){
              window.clearInterval(timer);
              $('form[name=main_form]').submit();
           }
           btn.val(seconds+'秒后跳转...');
        },1000);
    });
</script>