<layout name="Index/header_footer" />
<!-- 列表 -->
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
            <th>角色名称</th>
            <th>角色权限</th>
			<th>操作</th>
        </tr>          
        <foreach name="roleRes" item="v"> 
    		<tr class="tron">
    				<td align="center">{$v.role_name}</td>
                    <td align="center">{$v.pri_name}</td>
    		        <td align="center">
    		        	<a href="{:U('Role/modify',array('id'=>$v['id'],'p'=>$pageIndex))}" title="修改">修改</a> |
    	                <a href="{:U('Role/delete',array('id'=>$v['id'],'p'=>$pageIndex))}" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
    		        </td>
    	    </tr>
        </foreach>
        <tr>
           <td align="center" nowrap="true" colspan="99" height="30">{$page}</td>
        </tr>
	</table>
</div>
<script>
</script>